<div style="background-color:#E0B13A;;height:100px;"></div>
<div style="background-color:#5336f3;">
    <img src="images/contactus.jpg" style="width:100%;height:500px;">
</div>

<div style="padding:30px;width:66%;display:inline-block;">
    <section>
        <p>
            Thank you for visiting our website! Please see at the bottom of this page to contact us. For urgent inquiries please call our phone number or email us directly.
        </p>
        <p>
            <strong>Mailing Address:</strong>
            <br>
            House: 21, Walton Gardens, Wembley
            <br>
            United Kingdom 
        </p>
        <p>
            <strong>E-Mail:</strong>
            <br>
            info@siddhanath.org
        </p>
    </section>    
</div>
<my-footer></my-footer>