
<div style="background-color:#E0B13A;height:100px;"></div>
<div style="background-color:#5336f3;">
    <img src="images/nlam.png" style="width:100%;height:600px;">
</div>


<div style="background-color:sky-blue">
    New Life Awakening Movement

    Celebrating Livingness

    Virtues of Siddhanath

    Surya Yoga

    Generates Vitality, Virility and Vivacity

    Sources Pranic Health, Healing and Happiness

    Rejuvenates ( A Rejuven-Detox technique)

    New Life Awakening Movement

    Celebrating Livingness

    Virtues of Siddhanath

    Golden Lotus (Heartful Art)

    Flowers heart chakra to feel tranquility and love

    Dissolves Emotional Suffering

    Celebrates Soulful Happiness

    New Life Awakening Movement

    Celebrating Livingnesss

    Virtues of Siddhanath

    Earth Peace Meditation

    Fills you with peace and love

    Radiates earth peace through self peace

    Harmonizes a peaceful co-existence among the peoples of earth

</div>
New Life Awakening Movement

Celebrating Livingness

Objective

Actualize the vision of Earth Peace through self peace

• Demonstrate connected humanity

• Affect change of the earth and humanity through

individual effort

• Celebrate Livingness

New Life Awakening Movement

Celebrating Livingness

Operational Strategy

• The three videos are used as the teaching vehicles

• Videos put on-line with password access

• on-line tracking system

• Database/Email setup for access to videos

• Register NLAM teachers and new students

• learner access and teacher access

• Incentive program for NLAM teacher

• Virtue points collected for registering new students

• Virtue points convert to Nath event discounts

• Teachers setup free events for promotion and teaching

New Life Awakening Movement

Celebrating Livingness

Tactical Considerations

• Rollout with email blast to current database

• Phase 1: end of October 2016

• Website and YouTube promotion

Phase 2: end of February 2017

• Press Kit / Public Relations Kit

• Social Media promotion and Continuous Improvement

• Facebook and Twitter

• Word of Mouth

• Testimonials of experiences


<div style="background-color:light-blue">
    Frequently Asked Questions

    Is this a religion or cult?

    It is neither. It is a way of life celebrating soulfulness - the joy felt in your body, mind and soul.

    Everyone can participate in this celebration, irrespective of creed or beliefs.

    Are there any charges or hidden fees to get the full techniques?

    You are receiving the complete NLAM system at this time – it is completely free. From time to

    time, we may add techniques or augment the existing ones – theses will also be provided free.

    Why are you providing these precious techniques free?

    It is the blessing of the Himalayan Master Yogiraj Siddhanath to help humanity find happiness

    and develop self peace for the sake of earth peace.

    Are there any precautions about doing these techniques?

    There are no restrictions for the Siddhanath Earth Peace and Golden Lotus techniques. One

    should refrain form performing the Siddhanath Surya Yoga with a full stomach – it should be

    done before meals or at least 2 hours after food.

    Can pregnant women do these techniques?

    Yes, but refrain from any jerky movements during Siddhanth Surya Yoga.

    I've downloaded the videos. Now, which one should I do first?

    Siddhanath Surya, followed by Golden lotus and then Earth peace.

    How often should I do these techniques to get results?

    Once a day in the morning and if time permits, then add an evening session as well.

    Results come quickly but remember that this is a life-long practice of healing and wholing

    How long should I practice Surya before adding the Golden lotus and / or Earth Peace?

    Practice half an hour for five days and then add the Golden lotus followed by five more days of

    practice before adding the Earth Peace.

    Can we learn the Surya mantra from a teacher?

    Yes. You can also get the Instructional CD for the Surya mantra.

    How can I contact a teacher and learn personally?

    Website siddhanath.org and fill in form in the registration section

    NEW LIFE AWAKENING MOVEMENT

    What are the milestones of progress?

    You will feel calmer, more energetic first, followed by improvement in physical, emotional and

    mental health.

    Why should I teach these techniques to others?

     To celebrate soulful happiness and spread it in the lives of others

     To serve humanity as one's larger self

     Devote yourself to new life awakening to spread earth peace healing through self peace

    healing

    How can I become a NLAM teacher?

    By completing these practices according to the conditions given in your NLAM package

    Register as teacher on our website - you will be given further instructions to proceed

    How can I participate in spreading the NLAM but I cannot teach?

    Become an emissary of the NLAM - register and refer your friends and family to download the

    NLAM kit
</div>
<my-footer></my-footer>