
<div style="background-color:#E0B13A;height:100px;"></div>
<div style="background-color:#5336f3;">
    <img src="images/nlam.png" style="width:100%;height:500px;">
</div>


<div style="padding:30px;width:50%;display:inline-block;vertical-align: top;">
    <section>
        <h3>New Life Awakening Movement</h3>
        <ul>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Celebrating Livingness
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Generates Vitality, Virility and Vivacity
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Sources Pranic Health, Healing and Happiness
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Rejuvenates ( A Rejuven-Detox technique)
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Celebrating Livingness
            </li>
        </ul>
        <br>
        <h3>Golden Lotus (Heartful Art)</h3>
        <ul>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Flowers heart chakra to feel tranquility and love
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Dissolves Emotional Suffering
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Celebrates Soulful Happiness
            </li>            
        </ul>        
        <br>
        <h3>Earth Peace Meditation</h3>
        <ul>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;"> Fills you with peace and love
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Radiates earth peace through self peace
            </li>
            <li style="padding:10px;list-style:none;">
                <img src="images/liststyle.gif" width="20px" height="20px" style="padding-right:5px;">Harmonizes a peaceful co-existence among the peoples of earth
            </li>            
        </ul>   
        <br>
        <div style="margin-left:100px;background-color:#feeb7b;height:1px;width:70%;height:2px;margin-top:40px;">&nbsp;</div>
        <br>
        
        <div style="display:inline-block;margin-left:120px;">
            <a href="http://google.co.uk" target="_blank">
                <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
            </a>
        </div> 
            <div style="display:inline-block">
                <h3>Click <a href="http://google.co.uk" target="_blank">here</a> to download three videos</h3>
            </div>
         
    </section>
</div>
<div style="display:inline-block;background-color:#feeb7b;width:2px;vertical-align: top;margin-top:180px;margin-right:10px;height:500px;">&nbsp;</div>
<div style="width:45%;display:inline-block;padding-top:20px;">
    <h3>Frequently Asked Questions</h3>

    <p>
        <strong>Q: Is this a religion or cult?</strong>
        <br>
        A: It is neither. It is a way of life celebrating soulfulness - the joy felt in your body, mind and soul.
        Everyone can participate in this celebration, irrespective of creed or beliefs.
    </p>
    <p>
        <strong>Q: Are there any charges or hidden fees to get the full techniques?</strong>
        <br>
        A: You are receiving the complete NLAM system at this time – it is completely free. From time to
        time, we may add techniques or augment the existing ones – theses will also be provided free.
    </p>
    <p>
        <strong>Q: Why are you providing these precious techniques free?</strong>
        <br>
        A: It is the blessing of the Himalayan Master Yogiraj Siddhanath to help humanity find happiness
        and develop self peace for the sake of earth peace.
    </p>
    <p>
        <strong>Q: Are there any precautions about doing these techniques?</strong>
        <br>
        A: There are no restrictions for the Siddhanath Earth Peace and Golden Lotus techniques. One
        should refrain form performing the Siddhanath Surya Yoga with a full stomach – it should be
        done before meals or at least 2 hours after food.
    </p>
    <p>
        <strong>Q: Can pregnant women do these techniques?</strong>
        <br>
        A: Yes, but refrain from any jerky movements during Siddhanth Surya Yoga.
    </p>
     <p>
        <strong>Q: I've downloaded the videos. Now, which one should I do first?</strong>
        <br>
        A: Siddhanath Surya, followed by Golden lotus and then Earth peace.
    </p>
    <p>
        <strong>Q: How often should I do these techniques to get results?</strong>
        <br>
        A: Once a day in the morning and if time permits, then add an evening session as well.
        Results come quickly but remember that this is a life-long practice of healing and wholing
    </p>
    <p>
        <strong>Q: How long should I practice Surya before adding the Golden lotus and / or Earth Peace?</strong>
        <br>
        A: Practice half an hour for five days and then add the Golden lotus followed by five more days of
        practice before adding the Earth Peace.
    </p>
    <p>
        <strong>Q: Can we learn the Surya mantra from a teacher?</strong>
        <br>
        A: Yes. You can also get the Instructional CD for the Surya mantra.
    </p>    
    <p>
        <strong>Q: How can I contact a teacher and learn personally?</strong>
        <br>
        A: Website siddhanath.org and fill in form in the registration section
    </p>
</div>  
<div class="container-fluid" style="position: relative;background-image: url(../images/background-images/starspace.png);background-repeat:repeat;height:500px;margin-top:20px;">
    <div class="container">
        <section style="position:absolute;top:200px;left:100px;width:100%;color:white;font-size:20px;">
           
                <ul>
                    <li style="padding:10px;list-style:none;">
                        <img src="images/liststylebb.gif" width="20px" height="20px" style="padding-right:5px;opacity:5.6">
                        Feel calmer, more energetic first, followed by improvement in physical, emotional and mental health. 
                        
                    </li>
                    <li style="padding:10px;list-style:none;">
                        <img src="images/liststylebb.gif" width="20px" height="20px" style="padding-right:5px;">
                        Celebrate soulful happiness and spread it in the lives of others
                    </li>
                    <li style="padding:10px;list-style:none;">
                        <img src="images/liststylebb.gif" width="20px" height="20px" style="padding-right:5px;">
                        Celebrating Livingness    
                    </li>
                </ul>
            
        </section>
    </div>
</div>
<div style="height:2px;background-color:white"></div>
<my-footer></my-footer>